.bg-today {
  background-image: url('./assets/images/bg-today-small.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 286px;
}

@media (min-width: 90rem) {
  .bg-today {
    background-image: url('./assets/images/bg-today-large.svg');
  }
}
