@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,700&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,600&display=swap");
@import "tailwindcss";

@theme {
  /* Breakpoints — design widths from style-guide */
  --breakpoint-mobile: 23.4375rem; /* 375px */
  --breakpoint-desktop: 90rem; /* 1440px */

  /* Neutral */
  --color-neutral-900: hsl(243 96% 9%);
  --color-neutral-800: hsl(243 27% 20%);
  --color-neutral-700: hsl(243 23% 24%);
  --color-neutral-600: hsl(243 23% 30%);
  --color-neutral-300: hsl(240 6% 70%);
  --color-neutral-200: hsl(250 6% 84%);
  --color-neutral-0: hsl(0 0% 100%);

  /* Orange */
  --color-orange-500: hsl(28 100% 52%);

  /* Blue */
  --color-blue-500: hsl(233 67% 56%);
  --color-blue-700: hsl(248 70% 36%);

  /* Typography */
  --font-sans: "DM Sans", sans-serif;
  --font-display: "Bricolage Grotesque", sans-serif;
  --text-body: 1.125rem; /* 18px */
  --text-body--line-height: 1.4;
}

@layer base {
  html {
    font-family: var(--font-sans);
    font-size: var(--text-body);
    color: var(--color-neutral-0);
    background-color: var(--color-neutral-900);
  }
}
